.entry1 {
  background-color: gray;
  margin-bottom: 2px;
}

.entry2 {
  color: blue;
  margin-top: 2px;
  margin-bottom: 2px;
}

.entry3 {
  background-color: salmon;
  color: blue;
  margin-top: 2px;
}

.about {
  width: 75%;
  font-style: italic;
}
